xcoawst/
Build/
*.mod
*.o
*.log
*.a
*.exe
WPS/*.nc
WPS/NAM:*
WPS/SST:*
WPS/*.f90
WRF/dyn_em/*.f90
WRF/esmf_time_f90/*.f
WRF/inc/*.inc
*.ipynb
WRF/test/em_real/*_DATA
WRF/test/em_real/*.asc
WRF/test/em_real/*.nc
WRF/test/em_real/CAMtr*
Lib/SCRIP_COAWST/*.fpp

